page-quotes {
  .card-id {
    text-align: center;
  }
  .author {
    text-align: right;
    color: #ccc;
    text-transform: uppercase;
    margin: 0;
    padding: 0;

    &:before {
      content: "- "
    }
  }
}
